@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* General scrollbar for everything (nested scrollbars) */
::-webkit-scrollbar {
  height: 8px;
  width: 8px; /* For vertical scrollbars */
}

::-webkit-scrollbar-thumb {
  background-color: #4a90e2;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

/* Specific scrollbar for the main page (body/html) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 10px; /* Increase the width for the main scrollbar */
  height: 12px; /* Increase height for horizontal scrollbar */
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #4a90e2;
  border-radius: 10px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}
